/**
 * @name Dark Matter Purple
 * @author Naix, Tropical#8908, Hammock#3110
 * @version 3.0.2
 * @description A cold, dark & frosty theme.
 * @source https://github.com/DiscordStyles/DarkMatter/
*/

@import url('https://ghostnaix.github.io/DarkMatter-Purple/src/base.css');

/* Variables */
:root {
    --avatar-size: 32px;
    /*--background-image: url('https://raw.githubusercontent.com/GhostNaix/DarkMatter-Purple/main/Images/1Sr8fBI.png');*/
    --home-image: url('https://raw.githubusercontent.com/GhostNaix/DarkMatter-Purple/main/Images/233d55Y.gif');
    --background-solid: #1619214D;
    --background-solid-dark: #1012184D;
    --background-solid-darker: #0c0e124D;
    /*--accent: 37, 172, 232;
    --accent-alt: 29, 101, 134;*/
    --accent: 128, 37, 232;
    --accent-alt: 88, 29, 134;
}
